.box {
    min-width: 250px;
    min-height: 150px;
    position: relative;
    border: 1px solid gray;
    transition: 0.25s width;
    will-change: width;
    margin: 20px;
}

.header {
    border: none;
    outline: none;
    background-color: lightgray;
    width: 100%;
    border-radius: 0;
    cursor: move;
}